{% extends "template.html" %}
{% block headers %}
    <link rel="stylesheet" href="static/css/pages/login.css">
{% endblock %}
{% block content %}
    <div class="row align-items-center">
        <div class="col-md form-image">
            <!-- <img src="static/images/login.svg"> -->
        </div>
        <div class="col-md">
            <div class="form-title">
                <h1>Entrar</h1>
            </div>
            <div class="justify-content-md-center form-content">
                <form action="">
                    <div class="col-md input-text">
                        <input name="email" type="email" placeholder="Email">
                    </div>
                    <div class="col-md input-text">
                        <input name="password" type="password" placeholder="Senha">
                    </div>
                    <div class="col-md input-button">
                        <input type="button" value="Entrar">
                    </div>
                </form>
            </div>
            <div class="form-login">
                <p>Esqueci minha senha, redefinir</p>
            </div>
        </div>
    </div>
{% endblock %}