{% extends "template.html" %}
{% block headers %}
    <link rel="stylesheet" href="static/css/pages/register.css">
{% endblock %}
{% block content %}
    <div class="row align-items-center">
        <div class="col-md form-image">
            <!-- <img src="static/images/login.svg"> -->
        </div>
        <div class="col-md">
            <div class="form-title">
                <h1>Cadastrar-se</h1>
            </div>
            <div class="justify-content-md-center form-content">
                <form action="/createUser" method="post">
                    <div class="col-md input-text">
                        <input name="nickname" type="text" placeholder="Apelido">
                    </div>
                    <div class="col-md input-text">
                        <input name="email" type="email" placeholder="E-mail">
                    </div>
                    <div class="col-md input-text">
                        <input name="password" type="password" placeholder="Senha">
                    </div>
                    <div class="col-md input-text">
                        <input name="password-confirm" type="password" placeholder="Confirmar senha">
                    </div>
                    <!-- <div class="col-md input-button"> -->
                        <button class="button" type="submit">Cadastrar-se</button>
                    </div>
                </form>
            </div>
            <div class="form-login">
                <p>Já sou cadastrado, <a class="login-button" href="">entrar</a></p>
            </div>
        </div>
    </div>
{% endblock %}