{% extends "intro/intro_template.html" %}
{% block form %}
    <div class="container">
        <div class="row form-title">
            <div class="col">
                <img src="../static//images/intro-logo.svg" alt="social-logo">
                <h1>Cadastrar-se</h1>
                <p>Conecte-se com um universo de pessoas buscando ajudar o próximo! Preencha os dados abaixo para continuar.</p>
            </div>
        </div>
        <div class="row justify-content-md-center form-content">
            <div class="col">
                <form action="/createUser" method="post">
                    <div class="col-md input-text">
                        <input name="surname" type="text" placeholder="Apelido">
                    </div>
                    <div class="col-md input-text">
                        <input name="email" type="email" placeholder="E-mail">
                    </div>
                    <div class="col-md input-text">
                        <input name="password" type="password" placeholder="Senha">
                    </div>
                    <div class="col-md input-text">
                        <input name="password-confirm" type="password" placeholder="Confirmar senha">
                    </div>
                    <div class="col-md input-button">
                        <input type="button" value="Cadastrar-se">
                    </div>
                </form>
            </div>
        </div>
        <div class="row form-login">
            <div class="col">
                <p>Já sou cadastrado, <a class="flat-button" href="{{url_for('login')}}">entrar</a></p>
            </div>
        </div>
    </div>
{% endblock %}