.container {
    margin: 0;
    padding: 0;
}

.form-title {
    display: grid;
    justify-content: center;
    margin-bottom: 32.5px;
}

.form-image {
    padding: 0;
    height: 97.8vh;
    width: auto;
    background-image: url("../../images/login.svg");
    background-size: cover;
    background-position: center;
}

.form-content {
    display: grid;
    justify-content: center;
}

.form-login {
    display: grid;
    justify-content: center;
    margin-top: 32.5px;
}

.input-text > input {
    text-align: center;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px;
    width: 275px;
    height: 45px;
    margin: 7.5px 0px 7.5px 0px;
}

.input-text > input::placeholder {
    color: #005C53;
}

.input-button > input {
    text-align: center;
    background-color: #042940;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 275px;
    height: 45px;
    margin: 32.5px 0px 7.5px 0px;
    
}

.button{
    background-color: #042940;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 275px;
    height: 45px;
    margin: 32.5px 0px 7.5px 0px;
}

.login-button {
    text-decoration: none;
    font-weight: 700;
    color: #005C53;
}

.login-button:hover {
    text-decoration: none;
    font-weight: 700;
    color: #005C53;
}