* {
    margin: 0;
    padding: 0;
}

@media (max-width: 2200px){
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720){
    html {
        font-size: 87.5%;
    }
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #005C53;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #005C53;
}